


.App footer {
 text-align: center;
 margin-top: 0 ;
};
.App{
   margin: 30px auto;
   padding: 20px;
   
}

.container{
  max-width: 600px ;
  margin: 20px auto;
  padding: 30px;
  border: 2px;
  border-radius: 20px;
  background: linear-gradient(109.6deg, rgb(221, 110, 152) 11.2%, rgb(254, 148, 136) 100.2%);
}